<!doctype html>
<html lang="en">
<head>
    <title>My Flask App</title>
</head>
<body>
  {% include "header.html" %}
  <h1>About Us</h1>
    <p>Welcome to My Flask App, a lightweight WSGI web application framework.
      It is designed to make getting started quick and easy, with the ability
      to scale up to complex applications. It began as a simple wrapper around
      Werkzeug and Jinja, and has become one of the most popular Python web
      application frameworks.</p>
  {% include "footer.html" %}
  </body>
</html>
